html {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(180deg, rgb(155, 155, 155), rgb(240, 240, 240));
    color: white;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: rgb(45, 45, 45);
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

h1 {
    border-left: 5px solid #ff7b00; 
    padding-left: 15px;
    margin-left: 15px; 
    margin-right: 15px;
    font-size: 2.5rem;
    color: white;
}