body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgb(155, 155, 155), rgb(240, 240, 240));
    color: white;
        margin: 0;
    padding: 0;
}

h1 {
    border-left: 5px solid #ff7b00; 
    padding-left: 15px;
    margin-left: 15px; 
    margin-right: 15px;
    font-size: 2.5rem;
}

h3, h2 {
    font-size: 1.6rem;
    width: 80%;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(196, 196, 196);
}

input {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0 2px 3px rgb(59, 59, 59);
}

section {
    margin: 10px 50px;
}

article {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background-image: linear-gradient(180deg, rgb(83, 124, 150),rgb(83, 132, 185));
    box-shadow: 0 3px 5px rgb(59, 59, 59);
}


input {
    border-style: none;
    height: 30px;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2.1rex;
}

select {
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: none;
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0 1px 2px rgb(59, 59, 59);
}

select:hover { 
    background-color: rgb(209, 209, 209); 
}

button {
    width: 30%;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 2px 3px rgb(59, 59, 59);
    background-color: rgb(255, 255, 255);

    font-size: 3rex;
}

button:hover {
    background-color: rgb(209, 209, 209);
}

header{
    width: 100%;
    background-color: rgb(45, 45, 45);
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#tagline {
    font-size: 1.6rex;
}

#results-article {
    width: 50%;
    margin: 0 auto;
}

#number-selection {
    display: flex;
    justify-content: center;
    flex-direction: column;
}